/* css box model */
/* margin, padding, border */

* {
  padding: 0;
  margin: 0;
}
h1,
p {
  color: white;
}

/* h1 {
  background: red;
  padding-top: 80px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 50px;
} */
/* p{
  background: blue;
  padding: 40px;
} */
/* h1 {
  background: red;
  padding: 20px;
  margin: 3rem;
  border-style: solid;
  border-width: 3px;
  border-color: black;
} */
h1 {
  background: red;
  padding: 20px;
  margin: 3rem;
border-bottom: 1rem dotted black;
}
p {
  background: blue;
  padding: 5px 20px 50px 80px;
  margin: 20px 40px;
  border: 1rem dashed red;
}
/* p {
  background: blue;
  padding: 20px 60px;
} */
