/* 
font-size - size of the fonts
font-family - describe the font of the element
*/
/* google font */

  /* @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap'); */

/* body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}
p{
  font-family: 'Shadows Into Light', cursive;
} */



/* p{
  text-align: right;
} */
/* 
text-transform
text-decoration
 */
a{
  font-size: 3rem;
  text-decoration: none;
}
body{
  line-height: 20px;
}
h1{
  text-transform: lowercase;
}
.one{
  letter-spacing: 10px;
  text-decoration: underline;
  text-decoration: line-through;
}
.two{
  word-spacing: 10px;
  line-height: 2.5;
  text-decoration: overline;
}

.three{
  text-transform: uppercase;
}