/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
div {
	height: 300px;
	color: white;
	border: 2px solid red;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	text-transform: uppercase;
}

.big {
	background: url(./big.webp);
	background: url(./last.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.small {
	background: url(./big.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.last {
	background: url(./last.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
} */

div {
	width: 150px;
	height: 150px;
	margin: 5px;
}
.one {
	background: linear-gradient(to top, yellow, green);
}
.two {
	background: linear-gradient(to left, red, blue, brown);
}
.three {
	background: linear-gradient(270deg, blue, teal);
}
.four {
	background: linear-gradient(320deg, rgb(212, 0, 255) 20%, rgb(128, 100, 0) 70%);
}
